body {
    /* prevent scroll bar for whole page */
    overflow: hidden;
}

.row {
    display: flex; /* equal height of the children */
}

.col {
    flex: 1; /* additionally, equal width */
}

#mainModuleContainer {
    width: 100vw;
    min-height: 100%;

    /* Makes font the same across OS and Browswer */
    font-size: small;
    /* font-family: 'Times New Roman', Times, serif; */
    font-family: Arial, Helvetica, sans-serif;
}

.mainColumn {
    float: left;
    height: 93vh;
    margin-top: 0vh;
    border: 1px solid black;
    /* box-shadow:  inset 0 0 8px #000000; */
    overflow: auto;
}

/* Need to override the default so it will fill in everything */
.CodeMirror {
    width: 100%;
    height: auto;
}

#inputEditorDiv {
    width: 47%; /* only seem to get 95% total to use */
}

#resultDiv {
    width: 51%; /* only seem to get 95% total to use */
}

#copyToClipboard {
    width: 100%;
    background: lightsteelblue;
    border: 0;
}

#copyToClipboard:hover {
    background : steelblue;
}

#moduleSettings {
    position: fixed;
    width: 100%;
    top: 0;
}

.settingLabel {
    padding-left: 10px;
}

#moduleData {
    margin-top: 6vh; /* same as moduleSettings */
}

.commandFlags {
    width: 75%;
}

/* To use custom "new file load" button in settings */
.hide {
    display: none;
}

.settings {
    width: 98.3%; /* Seems to be some implicit margin on left side */
    padding-top: 3px;
    padding-left: 0.5%;
    background: #555;
    color: #f1f1f1;
}

#settingTop {
}

#settingBottom {
    padding-bottom: 0.5vh; /* Both fills in white gap and makes input bar have a bottom boarder now */
}

.settingButton {
    display: inline-block;
    padding: 1px 12px;
    margin-right: 20px;
    margin-bottom: 3px;
    font-size: 13px;
    color: #333333;
    background-color: white;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
}

.addRemovePipeline {
    width: 25px;
}

.error {
    background-color: #ffbbbb;
}

#alertBox {
    /* start hidden */
    display: none;
    position: absolute;
    top: 5%;
    text-align: center;
    background: #ffea78;
    left: 45%;
    padding: 15px;
    border-radius: 10px;
}